<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/images/favicon.png"/>

    <title>Snode - SocGamify</title>

    <link rel=/css/app.css hrel="stylesheet"/>
    <link rel="stylesheet" href="/css/site.css"/>

    </head>
<body class="public">
<div class="overlay-container">
    <div id="overlay"><img src="/images/preloader_lg.gif" /></div>
</div>
<div id="app" class="middle-box text-center animated fadeInDown">
        <!-- <router-view name="publicIndex"></router-view> -->
</div>

<!-- Mainly scripts -->


<script src="/js/guest/vendors.js?id=e427426134d3fa3a3697"></script>
<script src="/js/guest/app.js?id=14953b2468bdbc3fa87b"></script>

</body>
</html>
